.list {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
}

.indicator {
  background-color: var(--mantine-color-violet-9);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-sm);

  @mixin dark {
    background-color: var(--mantine-color-violet-9);
    border-color: transparent;
  }
}

.tab {
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  color: var(--mantine-color-violet);
  
  &[data-active] {
    color: var(--mantine-color-white);
  }

  @mixin dark {
    color: var(--mantine-color-violet-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}
